*{
    padding: 10px;
    margin: 2px;
    background-color: rgb(206, 146, 161);

}
.mini h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:80px;
    color:rgb(42, 165, 155);
}
.mini p{
    text-align:center;
    font-size: 30px;
    font-style: italic;
    color: white;
}